<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Blog</title>
=======
    <title>Myapp</title>
>>>>>>> 4a860deb19dd956125cb28dc6266a72d1955d62c
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
